/*header styles*/
.logo {
	display: inline-block;
	margin-right: 50px;
}
.navigation {
	display: inline-block;
}
.nav-li{
	display: inline-block;
}
.header-wraper {
	background: lightblue;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.section-after-header {
	margin-top: 46px;
}

/*chat image*/
.chat-image {
	height: 100px;
}
.chat-icon {
	position: fixed;
	right: 50px;
	bottom: 50px;
}

/*position absolute & relative example*/
.block-wraper {
	width: 500px;
	height: 500px;
	background: blue;
	position: relative;
}
.block-child {
	width: 150px;
	height: 150px;
	background: yellow;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.block-child2 {
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	right: 100px;
	bottom: 80px;
	z-index: 3;
}


/*image example*/
.hello-image {
	position: absolute;
	top: 50px;
	right: 100px;
	color: red;
	font-size: 35px;
}
.image-wraper {
	position: relative;
	display: inline-block;
}